# audio
CONFIG_SND_SOC=m
CONFIG_SND_SOC_AW88261=m
CONFIG_SND_SOC_CS35L36=m
CONFIG_SND_SOC_CS35L41_I2C=m
CONFIG_SND_SOC_CS35L41_SPI=m
CONFIG_SND_SOC_TFA989X=m

# clocks
CONFIG_COMMON_CLK=y
CONFIG_PWM=y
CONFIG_PWM_CLK=m

# graphics
CONFIG_DRM_AMDGPU=m

# input
CONFIG_IIO_ST_ACCEL_3AXIS=m
CONFIG_IIO_ST_ACCEL_I2C_3AXIS=m
CONFIG_IIO_ST_ACCEL_SPI_3AXIS=m
CONFIG_INPUT_REGULATOR_HAPTIC=m
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_STK3310=m
CONFIG_TOUCHSCREEN_MELFAS_MIP4=m
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=m
CONFIG_TOUCHSCREEN_S6SY761=m
CONFIG_TOUCHSCREEN_ZINITIX=m

# led
CONFIG_LEDS_MAX77705=m

# localversion
# CONFIG_LOCALVERSION_AUTO is not set

# misc
CONFIG_OPAL_PRD=y
CONFIG_POWER8_CPU=y
CONFIG_PPC_SUBPAGE_PROT=y

# power
CONFIG_CHARGER_MAX77705=m
CONFIG_MFD_MAX77693=m
CONFIG_MFD_MAX77705=m
CONFIG_REGULATOR=y
CONFIG_SPMI=y

# remoteproc
CONFIG_REMOTEPROC=y
CONFIG_REMOTEPROC_CDEV=y

# storage
CONFIG_BLK_DEV_NVME=m
CONFIG_NVME_CORE=m

# vhost
CONFIG_TARGET_CORE=m
CONFIG_VHOST_NET=m
CONFIG_VHOST_SCSI=m
CONFIG_VHOST_VSOCK=m

# video
CONFIG_MEDIA_SUPPORT=m
# CONFIG_MEDIA_SUPPORT_FILTER is not set
CONFIG_VIDEO_CAMERA_SENSOR=y
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_HI846=m
CONFIG_VIDEO_OV13B10=m
CONFIG_VIDEO_OV5675=m
CONFIG_VIDEO_OV8856=m

# virtio
CONFIG_CRYPTO_DEV_VIRTIO=m
CONFIG_DRM_VIRTIO_GPU=m
CONFIG_HW_RANDOM_VIRTIO=m
CONFIG_I2C_VIRTIO=m
CONFIG_NET_9P=m
CONFIG_NET_9P_VIRTIO=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_SCSI_VIRTIO=y
CONFIG_SND_VIRTIO=m
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_FS=m
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
CONFIG_VSOCKETS=m
