# "pmbootstrap kconfig generate" will use the config options from this file
# for kernel packages that have "pmb:generic-kernel" set in options, such as
# linux-postmarketos-mainline, linux-postmarketos-stable and other generic
# kernels that are not restricted to a specific subset of devices.
#
# The categorization in this file is purely for compatibility reasons and
# for grouping things together, there is no filtering performed on them.
#
# This file is maintained by the maintainers of the generic kernel packages:
# Aelin <aelin@postmarketos.org>
# Achill Gilgenast <achill@achill.org>

# audio devices and codecs
["category:audio".">=0.0.0"."all"]
SND_SEQUENCER = "m"
SND_SOC = "m"
SND_SOC_AW88261 = "m"
SND_SOC_CS35L36 = "m"
SND_SOC_CS35L41_I2C = "m"
SND_SOC_CS35L41_SPI = "m"
SND_SOC_TFA989X = "m"
["category:audio".">=0.0.0"."aarch64"]
SND_SOC_WCD938X_SDW = "m"

# clock controllers
["category:clocks".">=0.0.0"."all"]
COMMON_CLK = "y"
PWM = "y"
PWM_CLK = "m"
["category:clocks".">=0.0.0"."aarch64"]
SC_DISPCC_7180 = "m"
SC_GPUCC_7180 = "m"
SC_LPASS_CORECC_7180 = "m"
SC_VIDEOCC_7180 = "m"
SM_VIDEOCC_8250 = "m"
SM_VIDEOCC_8350 = "m"

# ethernet controllers, etc.
["category:ethernet".">=7.0_rc1"."loongarch64"]
DWMAC_MOTORCOMM = "y"

# display controllers, bridges, panels, etc.
["category:graphics".">=0.0.0"."all"]
DRM_AMDGPU = "m"
["category:graphics".">=0.0.0"."aarch64 armv7"]
EXYNOS_IOMMU = "y"
NOUVEAU_PLATFORM_DRIVER = "y"
["category:graphics".">=0.0.0"."aarch64"]
BACKLIGHT_KTZ8866 = "m"
DRM_PANEL_EBBG_FT8719 = "m"
DRM_PANEL_LG_SW43408 = "m"
DRM_PANEL_NOVATEK_NT36523 = "m"
DRM_PANEL_SAMSUNG_SOFEF00 = "m"
DRM_PANEL_SAMSUNG_S6E3HA8 = "m"
DRM_PANEL_VISIONOX_RM69299 = "m"
# depends on 4k page sizes
["category:graphics".">=0.0.0"."aarch64 armv7 riscv64 x86 x86_64"]
DRM_NOUVEAU = "m"
DRM_NOUVEAU_BACKLIGHT = "y"
DRM_NOUVEAU_CH7006 = "m"
DRM_NOUVEAU_SIL164 = "m"
DRM_XE = "m"
["category:graphics".">=0.0.0"."x86 x86_64"]
DRM_I915 = "m"
["category:graphics".">=6.19_rc1"."aarch64 armv7"]
DRM_PANEL_SAMSUNG_S6E3FC2X01 = "m"
DRM_PANEL_SAMSUNG_S6E8AA5X01_AMS561RA01 = "m"
DRM_PANEL_SYNAPTICS_TDDI = "m"

# input devices
["category:input".">=0.0.0"."all"]
IIO_ST_ACCEL_3AXIS = "m"
IIO_ST_ACCEL_I2C_3AXIS = "m"
IIO_ST_ACCEL_SPI_3AXIS = "m"
INPUT_REGULATOR_HAPTIC = "m"
INPUT_TOUCHSCREEN = "y"
RMI4_CORE = "m"
RMI4_I2C = "m"
STK3310 = "m"
TOUCHSCREEN_MELFAS_MIP4 = "m"
TOUCHSCREEN_NOVATEK_NVT_TS = "m"
TOUCHSCREEN_S6SY761 = "m"
TOUCHSCREEN_ZINITIX = "m"
["category:input".">=0.0.0"."aarch64"]
INPUT_MAX77693_HAPTIC = "m"

# led and light devices
["category:led".">=0.0.0"."all"]
LEDS_MAX77705 = "m"

# localversion
["category:localversion".">=0.0.0"."all"]
LOCALVERSION_AUTO = "n"

# useful ppc64le configs, taken from Alpine
["category:misc".">=0.0.0"."ppc64le"]
OPAL_PRD = "y"
POWER8_CPU = "y"
PPC_SUBPAGE_PROT = "y"

# enable all loongarch64 CPU features
["category:misc".">=0.0.0"."loongarch64"]
CPU_HAS_LBT = "y"

# power supplies, fuel gauges, etc.
["category:power".">=0.0.0"."all"]
CHARGER_MAX77705 = "m"
MFD_MAX77693 = "m"
MFD_MAX77705 = "m"
REGULATOR = "y"
SPMI = "y"
["category:power".">=0.0.0"."aarch64"]
BATTERY_LENOVO_YOGA_C630 = "m"
CHARGER_BQ25980 = "m"
CHARGER_QCOM_SMB2 = "m"
MFD_QCOM_RPM = "m"
MFD_SL28CPLD = "m"
QCOM_SPMI_RRADC = "m"
REGULATOR_QCOM_LABIBB = "m"
REGULATOR_S2DOS05 = "m"
["category:power"."<6.19"."aarch64"]
EC_LENOVO_YOGA_C630 = "m"

# remoteproc support
["category:remoteproc".">=0.0.0"."all"]
REMOTEPROC = "y"
REMOTEPROC_CDEV = "y"

# storage devices
["category:storage".">=0.0.0"."all"]
BLK_DEV_NVME = "m"
NVME_CORE = "m"

# EFI framebuffer support is explicitly disabled in some close-to-mainline
# kernels, so it cannot go in kconfigcheck
["category:uefi".">=0.0.0"."aarch64 armv7 loongarch64 riscv64 x86 x86_64"]
FB_EFI = "y"

# usb drivers, type-c role switching, etc.
["category:usb".">=0.0.0"."aarch64"]
UCSI_LENOVO_YOGA_C630 = "m"
QCOM_GSBI = "y"
["category:usb".">=0.0.0"."all"]
USB_SERIAL_CH341 = "m"

# vhost acceleration
["category:vhost".">=0.0.0"."all"]
TARGET_CORE = "m" # required for SCSI and VSOCK
VHOST_NET = "m"
VHOST_SCSI = "m"
VHOST_VSOCK = "m"

# cameras
["category:video".">=0.0.0"."all"]
MEDIA_SUPPORT = "m"
MEDIA_SUPPORT_FILTER = "n"
VIDEO_CAMERA_SENSOR = "y"
VIDEO_DEV = "m"
VIDEO_HI846 = "m"
VIDEO_OV13B10 = "m"
VIDEO_OV5675 = "m"
VIDEO_OV8856 = "m"

# virtio devices
["category:virtio".">=0.0.0"."all"]
CRYPTO_DEV_VIRTIO = "m"
DRM_VIRTIO_GPU = "m"
HW_RANDOM_VIRTIO = "m"
I2C_VIRTIO = "m"
NET_9P = "m"
NET_9P_VIRTIO = "m"
RPMSG_VIRTIO = "m"
SCSI_VIRTIO = "y"
SND_VIRTIO = "m"
VIRTIO_BALLOON = "m"
VIRTIO_BLK = "y"
VIRTIO_CONSOLE = "y"
VIRTIO_FS = "m"
VIRTIO_INPUT = "y"
VIRTIO_MMIO = "y"
VIRTIO_MMIO_CMDLINE_DEVICES = "y"
VIRTIO_NET = "y"
VIRTIO_PCI = "y"
VSOCKETS = "m"
["category:virtio".">=0.0.0"."aarch64 x86 x86_64"]
VIRTIO_IOMMU = "m"
