SUBSYSTEM=="input", ATTRS{name}=="Cypress TTSP TouchScreen", \
ENV{WL_CALIBRATION}="0 1 0 -1 0 1024", \
ENV{LIBINPUT_CALIBRATION_MATRIX}="0 1 0 -1 0 1", \
ENV{ID_INPUT}="1", ENV{ID_INPUT_TOUCHSCREEN}="1"
