[Unit]
Description=Update wl1251 calibration data
RequiresMountsFor=/lib/firmware
Before=udev.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/calibrate-wl1251 || true'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
