# Config fragment for PXA1908
CONFIG_LOCALVERSION="-pxa1908"

# SoC
CONFIG_ARCH_MMP=y
CONFIG_MFD_88PM886_PMIC=y
CONFIG_REGULATOR_88PM886=m
CONFIG_88PM886_GPADC=m
CONFIG_MMC_SDHCI_PXAV3=y
CONFIG_RTC_DRV_88PM886=m
CONFIG_MMP_PDMA=m
CONFIG_MMP_TDMA=m
CONFIG_PWM_PXA=m
CONFIG_GPIO_PXA=y
CONFIG_INPUT_88PM886_ONKEY=m
CONFIG_PHY_PXA_28NM_USB2=y
CONFIG_DRM_SIMPLEDRM=y

# Samsung Galaxy Core Prime VE LTE
CONFIG_BACKLIGHT_KTD2801=m
CONFIG_I2C_GPIO=y
CONFIG_TOUCHSCREEN_IMAGIS=m
CONFIG_EXTCON_SM5502=y
CONFIG_SENSORS_IIO_HWMON=m

# Disable other platforms to save time and space
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_AIROHA=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_AXIADO=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_BLAIZE=n
CONFIG_ARCH_BST=n
CONFIG_ARCH_CIX=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MICROCHIP=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_SOPHGO=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n

# Disable more unnecessary stuff
CONFIG_PCI=n
