[Unit]
Description=USB Moded Tethering Mode
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=usb-moded-tethering-mode up
ExecStop=usb-moded-tethering-mode down

[Install]
WantedBy=multi-user.target
