CONFIG_REGMAP_I2C=y
CONFIG_INPUT_AXP20X_PEK=y
CONFIG_CHARGER_AXP20X=m
CONFIG_BATTERY_AXP20X=m
CONFIG_AXP20X_POWER=m
CONFIG_MFD_AXP20X=y
CONFIG_MFD_AXP20X_I2C=y
CONFIG_REGULATOR_AXP20X=y
CONFIG_DRM_PANEL_CWD686=m
CONFIG_DRM_PANEL_CWU50=m
CONFIG_BACKLIGHT_OCP8178=m
CONFIG_AXP20X_ADC=m
CONFIG_TI_ADC081C=m
CONFIG_CRYPTO_LIB_ARC4=m
CONFIG_CRC_CCITT=m
CONFIG_LOCALVERSION=""
